#notesContainer {
    overflow-y: scroll;
    height: calc(100% - 50px);
    max-width: 700px;
    margin: auto;
    padding-left: 20px;
    color: #454545;
    font-family: "Comic Neue", "Comic Sans MS", "Comic Sans";
}

.noteContainer {
    padding: 50px 50px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: #4e40404f dashed 2px;
}

.noteContainer>* {
    outline: none;
    min-height: 10px;
}

.noteContainer>.title {
    color: black;
    transform: translateX(-25px);
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

.noteContent>* {
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
}

.noteContent ul {
    margin: 0;
    padding-left: 1rem;
}

.noteContent li {
    box-sizing: border-box;
}

.noteContent .strikeThrough {
    text-decoration-line: line-through;
    color: gray;
}