.App {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.LeftMenu{
  width: 450px;
  height: 100%;
  border-right: 3px solid #dee2e6;
}

#NotesContent{
  position: relative;
  width: calc(100% - 450px);
  height: 100%;
  overflow-y: hidden;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.font_Comic{
  font-family: "Comic Neue", "Comic Sans MS", "Comic Sans";
}

.notScrolling::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0);
}
